<section class="container">
	<div class="row">
		<div class="col-12">
			<h2>Mantenimiento de Usuario</h2>
		</div>
	</div>
    
	<div class="row justify-content-md-center">
		<div class="col-6">
			<div class="card">
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Dirección de correo</mat-label>
							<input matInput placeholder="jose@correo.com" [(ngModel)]="usuario.correo">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Nombres:
					</div>
					<div class="col-9">
						<input type="text" name="nombres"/>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Apellidos:
					</div>
					<div class="col-9">
						<input type="text" name="apellidos"/>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Rol:
					</div>
					<div class="col-9">
						<select name="categoria">
							<option>Administrador</option>
							<option>Gerente</option>
					  </select>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						Estado:
					</div>
					<div class="col-9">
						<select name="categoria">
							<option>Activo</option>
							  <option>De baja</option>
					  </select>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-end">
						<button type="button" class="btn btn-primary" (click)="grabar();">Grabar</button>
						<button type="button" class="btn btn-link">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</section>