<body>
    <h1>Mantenimiento de Usuario</h1>
    <h2>Usuario nuevo</h2>
<section class="section-1" id="sec-ea6a">
      <div class="container">
          <p class="input-text">Correo: <input type="text" name="correo"/></p>
          <p class="input-text">Nombres: <input type="text" name="nombres"/></p>
          <p class="input-text">Apellidos: <input type="text" name="apellidos"/></p>
          <p class="input-text">Rol: 
         <select name="categoria">
              <option>Administrador</option>
              <option>Gerente</option>
        </select>
      </p>
      <p class="input-text">Estado: 
         <select name="categoria">
              <option>Activo</option>
              <option>De baja</option>
        </select>
      </p>
          <p class="input-text">Costo: <input type="text" name="costo"/></p>
      </div>
      <a href="http://localhost:4200/" class="button b1">Grabar</a>
      <a href="http://localhost:4200/" class="button b2">Cancelar</a>
  <footer>
      <a href="https://www.clubhotelcusco.com/" target="_blank">
      <img src="https://www.clubhotelcusco.com/img/logo-black.png" alt="Club Hotel Cusco"></a>
  </footer>
</section>
</body>