.card {
	padding: 15px;
}

body, .section-1 {
	font-family: Helvetica;
	background-color: #eee;
}

h1,h2{
    text-align: center;
	color: #636363;
}

div.container{
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    width: 720px;
    margin: auto;
}

.button{
    background-color: #9e1517d8;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
    position: relative;
	display: inline-block;
    transition: 0.2s;
}

.button:hover {
	cursor: pointer;
		&::before {
		border: 0px ;
	}
}

.button:hover {
    background-color: #9e1518;
	cursor: pointer;
}


footer{
   text-align: center;
}
  