<h1>Plataforma de Cotizaciones</h1>
<h2>Listado de Usuarios</h2>
<section class="section-1" id="sec-ea6a">
    <div class="container">
        <div class="u-container-layout u-container-layout-4">
            <p class="u-text u-text-default u-text-5">Nombre:</p>
            <div class="u-expanded-width u-table u-table-responsive u-table-4">
              <table class="u-table-entity">
                <colgroup>
                  <col width="25%">
                  <col width="25%">
                  <col width="25%">
                  <col width="25%">
                </colgroup>
                <thead class="u-custom-color-1 u-custom-font u-heading-font u-table-header u-table-header-4">
                  <tr style="height: 46px;">
                    <th class="u-border-2 u-border-custom-color-5 u-table-cell">correo</th>
                    <th class="u-border-2 u-border-custom-color-5 u-table-cell">nombre</th>
                    <th class="u-border-2 u-border-custom-color-5 u-table-cell">rol</th>
                    <th class="u-border-2 u-border-custom-color-5 u-table-cell">estado</th>
                  </tr>
                </thead>
                <tbody class="u-table-body">
                  <tr style="height: 28px;">
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-57"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-58"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-59"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-60"></td>
                  </tr>
                  <tr style="height: 48px;">
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell"></td>
                  </tr>
                  <tr style="height: 39px;">
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-66"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-67"></td>
                    <td class="u-border-2 u-border-custom-color-5 u-table-cell u-table-cell-68"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="http://localhost:4200/" class="u-border-none u-btn u-button-style u-custom-color-3 u-btn-11">Nuevo</a>
            <a href="http://localhost:4200/" class="u-border-none u-btn u-button-style u-custom-color-3 u-btn-12">Editar</a>
            <a href="http://localhost:4200/" class="u-border-none u-btn u-button-style u-custom-color-3 u-btn-13">Eliminar</a>
          </div>
    </div>
</section>