:host {
	//display: flex;
	justify-content: center;
  }
 
 section {
	font-family: Helvetica;
	background-color: #eee;
	justify-content: center;
}

h1,h2{
    text-align: center;
	color: #636363;
	padding: 16px;
}

  mat-card{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    vertical-align: middle;
}

  mat-card-title,
  mat-card-content {
	display: flex;
	justify-content: center;
  }

  .error {
	padding: 16px;
	width: 300px;
	color: white;
	background-color: red;
  }

  .button {
	display: flex;
	justify-content: flex-end;
  }

  footer { 
	text-align: center; 
	padding: 204px;
}