<section class="container">
	<div class="row">
		<div class="col-12">
			<h2>Mantenimiento de Producto</h2>
		</div>
	</div>
    
	<div class="row justify-content-md-center">
		<div class="col-6">
			<div class="card">
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Código</mat-label>
							<input matInput placeholder="Código de producto">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Nombre</mat-label>
							<input matInput placeholder="Nombre de producto">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Descripción</mat-label>
							<input matInput placeholder="Descripción">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Unidad de medida</mat-label>
							<input matInput placeholder="Unidad de medida">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
                            <mat-label>Categoría</mat-label>
                            <mat-select>
                                <mat-option value="1">Bebidas</mat-option>
                                <mat-option value="0">Entremeses</mat-option>
                                <mat-option value="0">Entradas</mat-option>
                                <mat-option value="0">Platos de fondo</mat-option>
                                <mat-option value="0">Guarniciones adicionales</mat-option>
                                <mat-option value="0">Aderezos</mat-option>
                                <mat-option value="0">Ensaladas</mat-option>
                                <mat-option value="0">Panes</mat-option>
                                <mat-option value="0">Postres</mat-option>
                                <mat-option value="0">Platos para niños</mat-option>
                                <mat-option value="0">Bocaditos terceros</mat-option>
                                <mat-option value="0">Bocaditos hotel</mat-option>
                            </mat-select>
                        </mat-form-field>
					</div>
				</div>
                <div class="row">
					<div class="col-12">
						<mat-form-field appearance="outline">
							<mat-label>Costo</mat-label>
							<input matInput placeholder="Costo en soles">
						</mat-form-field>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-end d-grid gap-2 d-md-flex justify-content-md-end">
						<button type="button" class="btn btn-danger me-md-2">Grabar</button>
						<button type="button" class="btn btn-danger">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>